@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<style>
    .background{
        background-image:url(@Model.Content.GetPropertyValue("image"));
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 80%;
        /*background-size: 80%;*/
    }
</style>
<section class="section section section--header section--content-center-bottom background" id="backgroundImg">
    <div class="section__hero-content">
    </div>
</section>
